apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - ../../certmanager

replacements:
  # Service namespace -> Certificate namespace
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.namespace
    targets:
      - select:
          kind: Certificate
          group: cert-manager.io
          version: v1
          name: serving-cert
        fieldPaths:
          - .metadata.namespace

  # Service namespace -> Issuer namespace
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.namespace
    targets:
      - select:
          kind: Issuer
          group: cert-manager.io
          version: v1
          name: selfsigned-issuer
        fieldPaths:
          - .metadata.namespace

  # Webhook service name -> Certificate dnsNames
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.name
    targets:
      - select:
          kind: Certificate
          group: cert-manager.io
          version: v1
          name: serving-cert
        fieldPaths:
          - .spec.dnsNames.0
          - .spec.dnsNames.1
        options:
          delimiter: "."
          index: 0
          create: true

  # Webhook service namespace -> Certificate dnsNames
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.namespace
    targets:
      - select:
          kind: Certificate
          group: cert-manager.io
          version: v1
          name: serving-cert
        fieldPaths:
          - .spec.dnsNames.0
          - .spec.dnsNames.1
        options:
          delimiter: "."
          index: 1
          create: true

  # Service namespace -> ValidatingWebhookConfiguration CA injection
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.namespace
    targets:
      - select:
          kind: ValidatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 0
          create: true

  # Certificate name -> ValidatingWebhookConfiguration CA injection
  - source:
      kind: Certificate
      group: cert-manager.io
      version: v1
      name: serving-cert
      fieldPath: .metadata.name
    targets:
      - select:
          kind: ValidatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 1
          create: true

  # Service namespace -> MutatingWebhookConfiguration CA injection
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.namespace
    targets:
      - select:
          kind: MutatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 0
          create: true

  # Certificate name -> MutatingWebhookConfiguration CA injection
  - source:
      kind: Certificate
      group: cert-manager.io
      version: v1
      name: serving-cert
      fieldPath: .metadata.name
    targets:
      - select:
          kind: MutatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 1
          create: true
