name: Template - Build, Test & Lint

on:
  workflow_call:

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true
          cache-dependency-path: go.sum

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: Check coverage
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ./.testcoverage.yml

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          args: --timeout 5m
