name: PR - CI

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  build-test-lint:
    uses: ./.github/workflows/build-test-lint.yml

  codeql:
    uses: ./.github/workflows/codeql.yml
    permissions:
      security-events: write
      contents: read
      actions: read
